<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>TreeHope2.0</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />

    {% if env === "dev" %}
    <script src="/js/vendor/jquery-2.0.3.js"></script>
    <script src="/js/vendor/underscore.js"></script>
    <script src="/js/vendor/backbone.js"></script>
    <script src="/js/vendor/swig.js"></script>

    <script src="/js/vendor/socket.io.js"></script>

    <script src="/js/vendor/neon.js"></script>
    <script src="/js/vendor/CustomEvent.js"></script>
    <script src="/js/vendor/CustomEventSupport.js"></script>
    <script src="/js/vendor/PonyExpress.js"></script>    

    <script src="/js/init.js"></script>
    
    <script src="/js/backbone/models/post.js"></script>
    <script src="/js/backbone/collections/posts.js"></script>
    <script src="/js/backbone/views/post-view.js"></script>
    <script src="/js/backbone/views/app.js"></script>

    <script src="/js/backbone/routers/base.js"></script>

    <script src="/js/main.js"></script>
    {% endif %}
</head>
<body>
    <header>
        <div class="logo">
            <img src="/imagenes/logo.jpg" alt="TreeHope" />
        </div>
        <div class="titular">
            <h1 class="titulo">
                TreeHope
            </h1>
            <div>
                <a class="filtro" href="#">
                    LightPath
                </a>
                <a class="publicar" href="#">
                    Publicar
                </a>
            </div>
        </div>
        <div class="usuario">
            <figure class="avatar">
                <img src="/imagenes/avatar.jpg" alt="avatar" />
            </figure>
            <a class="flechita" href="#"></a>
        </div>
    </header>
    <nav>
        <ul class="menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sensores</a></li>
            <li><a href="#">Menu3</a></li>
            <li><a href="#">Menu4</a></li>
            <li><a href="#">Menu5</a></li>
            <li><a href="#">Menu6</a></li>
            <li><a href="#">Menu7</a></li>
            <li><a href="#">Menu8</a></li>
            <li><a href="#">Menu9</a></li>
            <li><a href="#">Menu10</a></li>
        </ul>
    </nav>

    <form action="" style="display:none">
        <p><label for="titulo">Título</label><input name="titulo" type="text"></p>
        <p><label for="autor">Autor</label><input name="autor" type="text"></p>
        <p><label for="tag">Tag</label><input name="tag" type="text"></p>
        <input type="submit" value="Publicar">
    </form>

    <section class="posts">
        
    </section>
    <footer>
    	<h3>
            <strong>Powered by LightPath</strong>
            <span class="mejor">
                LightPath 2015
            </span>
        </h3>
    </footer>
    <!--{% raw %}-->
    <script type="text/template" id="post-template">
        <div class="descripcion">
            <figure class="imagen">
                <img src="<%= image %>" />
            </figure>
            <div class="detalles">
                <h2 class="titulo"><%= title %></h2>
                <p class="autor">
                    por <a href="#"><%= user %></a>
                </p>
                <a class="tag" href="#"><%= tag %></a>
                <p class="fecha">hace <strong>20</strong> min</p>
            </div>
        </div>
        <div class="acciones">
            <div class="votos">
                <a class="up" href="#"></a>
                <span class="total"><%= votes %></span>
                <a class="down" href="#"></a>
            </div>
            <div class="datos">
                <a class="comentarios" href="#">
                    10
                </a>
                <a class="estrellita" href="#"></a>
            </div>
        </div>
    </script>
    <!--{% endraw %}-->

    <script type="text/template" id="post-extended-template">
        <div class="descripcion extended">
            <figure class="imagen">
                <img src="<%= image %>" />
            </figure>
            <div class="detalles">
                <h2 class="titulo"><%= title %></h2>
                <p class="autor">
                    por <a href="#"><%= user %></a>
                </p>
                <a class="tag" href="#"><%= tag %></a>
                <p><%= content %></p>
                <p class="fecha">hace <strong>20</strong> min</p>
            </div>
        </div>
        <div class="acciones">
            <div class="votos">
                <a class="up" href="#"></a>
                <span class="total"><%= votes %></span>
                <a class="down" href="#"></a>
            </div>
            <div class="datos">
                <a class="comentarios" href="#">
                    10
                </a>
                <a class="estrellita" href="#"></a>
            </div>
        </div>
    </script>
    
    {% if env === "prod" %}
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/vendors.min.js"></script>
    <script src="/app.min.js"></script>
    {% endif %}
</body>
</html>